<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito</title>
  <link href="/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <header class="bg-white shadow-md">
    <nav class="container mx-auto flex justify-between items-center p-4">
      <a href="/views/profile" class="text-2xl font-bold text-blue-600">Tiendita del Ale</a>
      <form action="/users/logout" method="POST">
        <button type="submit" class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-lg transition duration-300">Logout</button>
      </form>
    </nav>
  </header>
  <main class="container mx-auto p-6">
    <h2 class="text-3xl font-semibold mb-6">Tu Carrito</h2>
    {{#if cart}}
      <div class="bg-white p-6 rounded-lg shadow-md">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          {{#each cart.products}}
            <div class="flex justify-between items-center border-b py-4">
              <div>
                <h3 class="text-xl font-bold text-gray-800">{{this.productId.title}}</h3>
                <p class="text-gray-600">Cantidad: {{this.quantity}}</p>
              </div>
              <div>
                <p class="text-xl font-semibold text-gray-900">${{this.productId.price}}</p>
              </div>
            </div>
          {{/each}}
        </div>
        <div class="mt-6 flex justify-between items-center">
          <h3 class="text-xl font-semibold">Total:</h3>
          <p class="text-2xl font-bold text-gray-900">$ {{total}}</p>
        </div>
        <div class="mt-6 text-right">
          <button id="proceedToPay" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition">Proceder al Pago</button>
        </div>
      </div>
    {{else}}
      <div class="bg-white p-6 rounded-lg shadow-md">
        <p class="text-center text-gray-500">Tu carrito está vacío.</p>
      </div>
    {{/if}}
  </main>
  <script>
  document.getElementById('proceedToPay').addEventListener('click', () => {
    // Asegúrate de que user.email esté correctamente interpolado
    const userEmail = '{{user.email}}';
    console.log("Email del usuario:", userEmail)
    fetch('/api/send-email', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ email: userEmail })
    })
    .then(response => {
      if (response.ok) {
        alert('Compra realizada. El correo ha sido enviado.');
      } else {
        alert('Hubo un problema al procesar tu compra.');
      }
    })
    .catch(error => {
      console.error('Error:', error);
      alert('Hubo un problema al procesar tu compra.');
    });
  });
</script>

</html>
